<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
      Name="TunnelBoard"
      Manufacturer="TunnelBoard"
      Version="$(var.BundleVersion)"
      UpgradeCode="{72EFA2F1-56D9-4AB5-8D21-A79F3DFB0F57}"
      IconSourceFile="build\windows\icon.ico"
      AboutUrl="https://github.com/HanZephyr/TunnelBoard"
      Compressed="yes">
    <Variable Name="InstallFolder" Type="formatted" Value="[ProgramFiles64Folder]\TunnelBoard" bal:Overridable="yes" />
    <Variable Name="CreateStartMenuShortcut" Type="numeric" Value="1" bal:Overridable="yes" />
    <Variable Name="CreateDesktopShortcut" Type="numeric" Value="0" bal:Overridable="yes" />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkLargeLicense"
          ThemeFile="scripts\windows-installer\installer-theme.xml"
          LicenseUrl=""
          LogoFile="build\appicon-512-rounded.png"
          ShowVersion="yes"
          SuppressRepair="no"
          SuppressOptionsUI="no" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage Id="TunnelBoardMsi" SourceFile="$(var.MsiPath)" Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="CREATE_START_MENU_SHORTCUT" Value="[CreateStartMenuShortcut]" />
        <MsiProperty Name="CREATE_DESKTOP_SHORTCUT" Value="[CreateDesktopShortcut]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
